<style>
    .product-store {
        border-radius: 30px; /* Đặt độ cong cho khung */
        background-color: #ffff; /* Đặt màu nền cho phần */
        padding: 120px; /* Đặt khoảng cách nội dung và viền */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ */
        max-width: 1140px; /* Thêm max-width để tránh tràn khỏi màn hình */
        margin: 0 auto; /* Căn giữa theo chiều ngang */
        display: flex; /* Sử dụng flexbox */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        flex-direction: column; /* Xếp các phần tử con theo chiều dọc */
    }

    .swiper-pagination {
        bottom: 20px; /* Điều chỉnh vị trí thanh phân trang */
        left: 50%; /* Điều chỉnh vị trí thanh phân trang */
        transform: translateX(-50%); /* Đưa thanh phân trang về giữa */
    }

    /* Nếu muốn làm cho nút "Xem Thêm" có góc bo tròn, thêm CSS sau */
    .btn-normal {
        border-radius: 20px; /* Đặt độ cong cho nút */
    }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
    }

    .image-holder {
        height: 250px;
    }

    .swiper.main-swiper {
        background-color: white;
    }

    .product-card {
        margin-bottom: 80px; /* Khoảng cách giữa các sản phẩm */

        border-radius: 10px; /* Đặt độ cong cho khung */
        background-color: white; /* Đặt màu nền cho phần */

        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ */
    }
    .row.d-flex.align-items-center {
    background: #f5f5f7;
}
    .btn-primary {
        background-color: transparent;
        border: 2px solid #fff;
        padding: 10px 20px;
    }

        .btn-primary:hover {
            background-color: #fff;
            color: #000;
        }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
    }

    .translate-middle {
        transform: translate(-50%, -50%);
    }

    section#billboard {
        background: #f5f5f7;
    }

    .swiper-pagination.position-absolute.text-center.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        justify-content: flex-end;
        display: flex;
    }

    
</style>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Products</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
    </div>
</section>

<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="banner">
        <img src="images/logo2.jpg" class="d-block w-100" alt="...">

    </div>
   
    <div style="height: 80px;"></div>
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5" style="font-family: 'SF Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Trải nghiệm TV cực đỉnh với APPLE TV</h1>
                                <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Tìm Hiểu Ngay</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image-holder">
                                <!-- Image Holder -->
                                <img src="images/tv36.png" class="img-fluid" alt="illustration" style="height: 100%; float: right;">

                            </div>
                        </div>
                    </div>
                </div>         
</section>
<div style="height: 80px;"></div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @* <div class="carousel-item active">
            <img src="images/tv30.png" class="d-block w-100" alt="...">

        </div> *@
        <div class="carousel-item">
            <img src="images/tv50.png" class="d-block w-100" alt="...">

        </div>
        @* <div class="carousel-item">
            <img src="images/tv32.png" class="d-block w-100" alt="...">

        </div> *@
        @* <div class="carousel-item">
            <img src="images/tv30.png" class="d-block w-100" alt="...">

        </div> *@
        @* <div class="carousel-item">
            <img src="images/tv34.png" class="d-block w-100" alt="...">

        </div> *@
        <div class="carousel-item active">
            <img src="images/tv48.png" class="d-block w-100" alt="...">

        </div>
        <!-- Thêm các carousel-item khác nếu cần -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
<div style="height: 80px;"></div>
<h2 class="display-7 text-dark text-uppercase text-center">Sản Phẩm Vừa Ra Mắt</h2>
<div style="height: 20px;"></div>
<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div style="height: 100px;"></div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="product-card position-relative">
                                <div class="image-holder">
                                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                        <img src="~/media/products/@item.Image" alt="@item.Name" class="img-responsive" style="width: 100%; height: auto;" />
                                    </a>
                                </div>
                                <div class="card-detail d-flex flex-column align-items-center justify-content-center pt-3">
                                    <h3 class="card-title text-uppercase text-center mb-2">
                                        <a> @item.Name</a>
                                    </h3>

                                    @if (item.OldPrice > 0)
                                    {

                                        <span style="font-size: 18px; text-decoration: line-through;">@item.OldPrice.ToString("N0") VND</span>

                                    }
                                    <span>@item.Price.ToString("N0") VND</span>
                                </div>
                                <div class="cart-concern position-absolute">
                                    <div class="cart-button d-flex flex-column">
                                        <a href="#" class="btn btn-medium btn-black add-to-cart" data-product-id="@item.Id">Thêm vào giỏ hàng</a>

                                        <a asp-action="Details" asp-controller="Product" asp-route-slug="@item.Slug" class="btn btn-medium btn-black">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    } 

                </div>
            </div>
         
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>



<section id="yearly-sale" >
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-sm-12">
            <div class="text-content offset-4 padding-medium">
                <h3>10% off</h3>
                <h2 class="display-2 pb-5 text-uppercase text-dark">New year sale</h2>
                <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Sale</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
        </div>
    </div>
</section>

<section id="testimonials" class="position-relative">
    <div class="container">
        <div class="row">
            <div class="review-content position-relative">
                <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
                    <svg class="chevron-left">
                        <use xlink:href="#chevron-left" />
                    </svg>
                </div>
                <div class="swiper testimonial-swiper">
                    <div class="quotation text-center">
                        <svg class="quote">
                            <use xlink:href="#quote" />
                        </svg>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-center d-flex justify-content-center">
                            <div class="review-item col-md-10">
                                <i class="icon icon-review"></i>
                                <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi.”</blockquote>
                                <div class="rating">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-half">
                                        <use xlink:href="#star-half"></use>
                                    </svg>
                                    <svg class="star star-empty">
                                        <use xlink:href="#star-empty"></use>
                                    </svg>
                                </div>
                                <div class="author-detail">
                                    <div class="name text-dark text-uppercase pt-2">Emma Chamberlin</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide text-center d-flex justify-content-center">
                            <div class="review-item col-md-10">
                                <i class="icon icon-review"></i>
                                <blockquote>“A blog is a digital publication that can complement a website or exist independently. A blog may include articles, short posts, listicles, infographics, videos, and other digital content.”</blockquote>
                                <div class="rating">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-half">
                                        <use xlink:href="#star-half"></use>
                                    </svg>
                                    <svg class="star star-empty">
                                        <use xlink:href="#star-empty"></use>
                                    </svg>
                                </div>
                                <div class="author-detail">
                                    <div class="name text-dark text-uppercase pt-2">Jennie Rose</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
                    <svg class="chevron-right">
                        <use xlink:href="#chevron-right" />
                    </svg>

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>
<section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                <div class="col-md-6 col-sm-12">
                    <div class="display-header pe-3">
                        <h2 class="display-7 text-uppercase text-light">Đăng kí thành viên</h2>
                        <p>Để không bỏ lỡ các sản phẩm giảm giá.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <form class="subscription-form validate">
                        <div class="input-group flex-wrap">
                            <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Điền email của bạn ở đây" required="">
                            <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@* <section id="instagram" class="padding-large overflow-hidden no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header text-uppercase text-dark text-center pb-3">
                <h2 class="display-7">Shop Our Insta</h2>
            </div>
            <div class="d-flex flex-wrap">
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="images/insta-item1.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="images/insta-item2.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="images/insta-item3.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="images/insta-item4.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="images/insta-item5.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section> *@
@Html.Partial("_FooterPartial")
@Html.Partial("_FooterBottomPartial")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('.add-to-cart').click(function (e) {
        e.preventDefault();
        var productId = $(this).data('product-id');

        // Gửi yêu cầu AJAX để kiểm tra số lượng hàng của sản phẩm
        $.ajax({
            url: '/Product/CheckQuantity?id=' + productId,
            type: 'GET',
            success: function (response) {
                if (response.success) {
                    // Nếu còn hàng, thêm vào giỏ hàng
                    $.ajax({
                        url: '/Cart/Add',
                        type: 'POST',
                        data: { Id: productId },
                        success: function (response) {
                            $('#notificationMessage').text(response.message);
                            $('#notificationModal').modal('show');
                        },
                        error: function () {
                            $('#notificationMessage').text('Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng!');
                            $('#notificationModal').modal('show');
                        }
                    });
                } else {
                    // Nếu hết hàng, hiển thị thông báo
                    alert('Sản phẩm đã hết hàng.');
                }
            },
            error: function () {
                $('#notificationMessage').text('Đã xảy ra lỗi khi kiểm tra số lượng hàng của sản phẩm!');
                $('#notificationModal').modal('show');
            }
        });
    });

</script>

<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function closeModal() {
        $('#notificationModal').modal('hide');
    }

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myCarousel = document.getElementById('myCarousel');
        var carouselItems = myCarousel.querySelectorAll('.carousel-item');
        var totalItems = carouselItems.length;
        var currentIndex = 0;

        function updateCarousel() {
            // Loại bỏ lớp active khỏi tất cả các phần tử
            for (var i = 0; i < totalItems; i++) {
                carouselItems[i].classList.remove('active');
            }
            // Thêm lớp active cho phần tử tiếp theo
            carouselItems[currentIndex].classList.add('active');
            // Tăng chỉ số currentIndex
            currentIndex = (currentIndex + 1) % totalItems;
        }

        setInterval(updateCarousel, 3000); // 3000 milliseconds = 3 seconds, adjust as needed
    });
</script>